@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 214 8% 18%;
    --foreground: 0 0% 98%;
    --card: 214 8% 22%;
    --card-foreground: 0 0% 98%;
    --popover: 214 8% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 182 100% 74%;
    --primary-foreground: 214 8% 10%;
    --secondary: 214 8% 28%;
    --secondary-foreground: 0 0% 98%;
    --muted: 214 8% 28%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 348 83% 47%;
    --accent-foreground: 0 0% 98%;
    --destructive: 348 83% 47%;
    --destructive-foreground: 0 0% 98%;
    --warning: 43 74% 66%;
    --border: 214 8% 28%;
    --input: 214 8% 28%;
    --ring: 182 100% 74%;
    --chart-1: 182 100% 74%;
    --chart-2: 348 83% 47%;
    --chart-3: 210 40% 96.1%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 214 8% 18%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 182 100% 74%;
    --sidebar-primary-foreground: 214 8% 10%;
    --sidebar-accent: 214 8% 28%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 214 8% 28%;
    --sidebar-ring: 182 100% 74%;
  }
  .dark {
    --background: 214 8% 18%;
    --foreground: 0 0% 98%;
    --card: 214 8% 22%;
    --card-foreground: 0 0% 98%;
    --popover: 214 8% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 182 100% 74%;
    --primary-foreground: 214 8% 10%;
    --secondary: 214 8% 28%;
    --secondary-foreground: 0 0% 98%;
    --muted: 214 8% 28%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 348 83% 47%;
    --accent-foreground: 0 0% 98%;
    --destructive: 348 83% 47%;
    --destructive-foreground: 0 0% 98%;
    --warning: 43 74% 66%;
    --border: 214 8% 28%;
    --input: 214 8% 28%;
    --ring: 182 100% 74%;
    --chart-1: 182 100% 74%;
    --chart-2: 348 83% 47%;
    --chart-3: 210 40% 96.1%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 214 8% 18%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 182 100% 74%;
    --sidebar-primary-foreground: 214 8% 10%;
    --sidebar-accent: 214 8% 28%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 214 8% 28%;
    --sidebar-ring: 182 100% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
